/* Page layout styles */
html, body {

    height: 100%;
    margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  flex: 0 1 30px;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 30px;
}

/* Now the actually mattering styles */


h1 {
    text-align: center;
    border: 1px solid #444;
    background: #222;
    color: #EEE;
    padding: 8px;
    width: auto;
    border-radius: 8px;
    display: block;
    width: auto;
    margin: auto;
}

a:link {
    color: #C00;
}

a.Normal {

    color: inherit;
    text-decoration: inherit;
}

a.Normal:visited {

    color: inherit;
}

a.Normal:hover {
    color: red;
}

a:visited {
    color: #C00;
}

a:hover {
    color: red;
}

a:active {
    
    color: #C00;
}

a.NormalLink:link {

    color: lightblue;
    text-decoration: underline;
}

a.NormalLink:hover {

    color: blue;
    text-decoration: underline;
}

hr {

    width: 80%;
    
}

.Centered {

    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.FPRed {

     color: #C00;
}

.Gray {

    color: gray;
}

.GameBody {

    padding: 2px;
    border: 1px solid #444;
    background: #222;
    color: #EEE;
    border-radius: 8px;
}

.GameCanvas {

    width: 100%;
    height: 100%;
    margin: 0px;
}

#GameRender {

    width: 100%;
    height: 100%;
    margin: 0px;
}

.GameElement {

    left: 0%;
    top: 0%;
    
    position: absolute;
    display: none;
}

.Footer {

    padding-top: 2px;
    color: silver;
    margin: auto;
}

.LoadingSpinner {

    /* Doesn't work :( */
    /*background-color: #C00;*/
    display: none;

    position: absolute;
    width: 6%;
    left: 47%;
    top: 50%;
}

.wrapper {
  display: none;
}

.ActiveShield path{

    fill: #001a11;
}

.FillVert {

  display: flex;  /* use the flex model */
  min-height: 100%;
  flex-direction: column; 
}

.Filler {

    flex: 1;
}

/* List styles */
ul {
	width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style: none;
}
ul li {
	padding: 16px;
	background: #eee;
	color: #252525;
	font-size: 18px;
}
ul li:nth-child(odd) {
	background: #fff;
}

.Chat ul li {

    padding: 4px;
    font-size: 14px;
}